<div class="container-fluid main-container p-5">
  <div class="row justify-content-center">
    <div class="row col-8 m-0 p-0 preview-container">
      <img src="../../assets/previous.png" id="previous" class="np-button" (click)="previous()">
      <div id="picture" class="col-6 m-0 p-0" *ngIf="currentPicture.loaded">
        <img [src]="currentPicture.src" alt="image" id="display" class="m-0 p-0">
      </div>
      <div *ngIf="!currentPicture.loaded" class="col-6">
        <img src="../../assets/loading.gif">
      </div>
      <div class="col-6">
        <p>{{currentPicture.description}}</p>
      </div>
      <img src="../../assets/previous.png" id="next" class="np-button" (click)="next()">
    </div>
  </div>
  <div class="exit">
    <img src="../../assets/close.png" (click)="close()" />
  </div>
</div>