.category {
    cursor: pointer;
}

.edit {
    padding-top : 4px; 
    position: absolute;
    right: -17px;
    top: -17px;
}

.edit .btn {
    margin: 2px;
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.42857;   
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }

 .card {
     width: 100%;
 }
 